/* Estilos de la aplicacion */
.bg-custom {
    background-image: linear-gradient(15deg, #09a330 0%, #a0d080 100%);
}

#logo{
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-success{
    background: #09a330;
    color: white !important;
    font-weight: bold;
    margin-right: 5px;
}

.content{
    padding: 30px !important;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
    color: #09a330 !important;
    color: 
        var(--md-theme-default-primary-on-background, #09a330);
}

footer{
    position: fixed;
    bottom: 0%;
    padding: 1rem;
    width:100%;
    text-align: center
}